a {
    color: #00bcd4;
    text-decoration: none;
    -webkit-transition: 0.2s opacity;
    transition: 0.2s opacity;
}

a:hover, a:focus {
    text-decoration: none;
    outline: none;
    opacity: 0.8;
    color: #00bcd4;
}

.main-color {
    color: #00bcd4;
}

.white-text {
    color: #FFF;
}

::-moz-selection {
    background-color: #00bcd4;
    color: #FFF;
}

::selection {
    background-color: #00bcd4;
    color: #FFF;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none
}

/* -- section  -- */

.section {
    position: relative;
}

.md-padding {
    padding-top: 120px;
    padding-bottom: 120px;
}

.sm-padding {
    padding-top: 60px;
    padding-bottom: 60px;
}


/* --  background section  -- */

.bg-grey {
    background-color: #FAFAFA;
    border-top: 1px solid #EEE;
    border-bottom: 1px solid #EEE;
}

.bg-dark {
    background-color: #1C1D21;
}


/* --  background image section  -- */

.bg-img {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.bg-img .overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: .8;
    background: #1C1D21;
}

/* --  Input  -- */

input[type="text"], input[type="email"], input[type="password"], input[type="number"], input[type="date"], input[type="url"], input[type="tel"], textarea {
    height: 40px;
    width: 100%;
    border: none;
	  background: #F4F4F4;
    border-bottom: 2px solid #EEE;
    color: #354052;
    padding: 0px 10px;
    opacity: 0.5;
    -webkit-transition: 0.2s border-color, 0.2s opacity;
    transition: 0.2s border-color, 0.2s opacity;
}

textarea {
    padding: 10px 10px;
    min-height: 80px;
    resize: vertical;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, input[type="number"]:focus, input[type="date"]:focus, input[type="url"]:focus, input[type="tel"]:focus, textarea:focus {
    border-color: #00bcd4;
    opacity: 1;
}

/* --  Buttons  -- */

.main-btn, .white-btn, .outline-btn {
    display: inline-block;
    padding: 10px 35px;
    margin: 3px;
    border: 2px solid transparent;
    border-radius: 3px;
    -webkit-transition: 0.2s opacity;
    transition: 0.2s opacity;
}

.main-btn {
    background: #00bcd4;
    color: #FFF;
}

.white-btn {
    background: #FFF;
    color: #10161A !important;
}

.outline-btn {
    background: transparent;
    color: #00bcd4 !important;
    border-color: #00bcd4;
}

.main-btn:hover, .white-btn:hover, .outline-btn:hover {
    opacity: 0.8;
}

/*------------------------------------*\
	Contact
\*------------------------------------*/

.contact {
    margin: 15px 0px;
    text-align: center;
}

.contact i {
    font-size: 36px;
    color: #00bcd4;
    margin-bottom: 20px;
}

.contact-form {
    text-align: center;
    margin-top: 40px;
}

.contact-form .input {
    margin-bottom: 20px;
}


.contact-form .input:nth-child(1), .contact-form .input:nth-child(2) {
    width: calc(50% - 10px);
}

.contact-form .input:nth-child(2) {
    margin-left: 15px;
}

/*[ LOADDING ]
///////////////////////////////////////////////////////////
*/
.animsition-loading-1 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

[data-loader='ball-scale'] {
    width: 50px;
    height: 50px;
    -webkit-animation: ball-scale infinite linear .75s;
    -moz-animation: ball-scale infinite linear .75s;
    -o-animation: ball-scale infinite linear .75s;
    animation: ball-scale infinite linear .75s;
    border-radius: 100%;
    background-color: #e65540;
}

@-webkit-keyframes ball-scale {
    0% {
        -webkit-transform: scale(.1);
        -ms-transform: scale(.1);
        -o-transform: scale(.1);
        transform: scale(.1);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        opacity: 0;
    }
}

@-moz-keyframes ball-scale {
    0% {
        -webkit-transform: scale(.1);
        -ms-transform: scale(.1);
        -o-transform: scale(.1);
        transform: scale(.1);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        opacity: 0;
    }
}

@-o-keyframes ball-scale {
    0% {
        -webkit-transform: scale(.1);
        -ms-transform: scale(.1);
        -o-transform: scale(.1);
        transform: scale(.1);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        opacity: 0;
    }
}

@keyframes ball-scale {
    0% {
        -webkit-transform: scale(.1);
        -ms-transform: scale(.1);
        -o-transform: scale(.1);
        transform: scale(.1);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        opacity: 0;
    }
}

.wrap-slick1 {
  position: relative;
}

.item-slick1 {
  height: 591px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.arrow-slick1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  font-size: 18px;
  color: white;
  position: absolute;
  background-color: black;
  opacity: 0;
  
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);

  border-radius: 50%;
  z-index: 200;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.wrap-slick1:hover .arrow-slick1 {
  opacity: 0.5;
}

.arrow-slick1:hover {
  background-color: #00bcd4;;
}

.next-slick1 {
  right: 50px;
  left: auto;
}

.prev-slick1 {
  left: 50px;
  right: auto;
}

@media (max-width: 576px) {
  .next-slick1 {
    right: 15px;
  }

  .prev-slick1 {
    left: 15px;
  }
}

/*[ Caption ]
-----------------------------------------------------------
*/
@media (max-width: 992px) {
  .wrap-content-slide1 .xl-text2 {
    font-size: 60px;
  }
}

@media (max-width: 768px) {
  .wrap-content-slide1 .xl-text3,
  .wrap-content-slide1 .xl-text2,
  .wrap-content-slide1 .xl-text1 {
    font-size: 50px;
  }

  .wrap-content-slide1 .m-text27,
  .wrap-content-slide1 .m-text1 {
    font-size: 16px;
  }

  .item-slick1 {
    height: 470px;
  }
}

@media (max-width: 576px) {
  .wrap-content-slide1 .xl-text3,
  .wrap-content-slide1 .xl-text2,
  .wrap-content-slide1 .xl-text1 {
    font-size: 40px;
  }

  .wrap-content-slide1 .m-text27,
  .wrap-content-slide1 .m-text1 {
    font-size: 16px;
  }

  .item-slick1 {
    height: 370px;
  }
}

/*[ rs1-slick1 ]
-----------------------------------------------------------
*/
.rs1-slick1 .item-slick1 {
  height: 100vh;
}

@media (max-width: 992px) {
  .rs1-slick1 .item-slick1 {
    height: calc(100vh - 85px);
  }
}

@media (max-width: 992px) {
  .wrap-content-slide1 .xl-text2 {
    font-size: 60px;
  }
}

@media (max-width: 768px) {
  .wrap-content-slide1 .xl-text3,
  .wrap-content-slide1 .xl-text2,
  .wrap-content-slide1 .xl-text1 {
    font-size: 50px;
  }

  .wrap-content-slide1 .m-text27,
  .wrap-content-slide1 .m-text1 {
    font-size: 16px;
  }

  .item-slick1 {
    height: 470px;
  }
}

@media (max-width: 576px) {
  .wrap-content-slide1 .xl-text3,
  .wrap-content-slide1 .xl-text2,
  .wrap-content-slide1 .xl-text1 {
    font-size: 40px;
  }

  .wrap-content-slide1 .m-text27,
  .wrap-content-slide1 .m-text1 {
    font-size: 16px;
  }

  .item-slick1 {
    height: 370px;
  }
}

/*[ rs1-slick1 ]
-----------------------------------------------------------
*/
.rs1-slick1 .item-slick1 {
  height: 100vh;
}

@media (max-width: 992px) {
  .rs1-slick1 .item-slick1 {
    height: calc(100vh - 85px);
  }
}


.slide1{
  padding-top:71px;
}






